@model IEnumerable<Expert.Web.DTOs.GradeResultDto>

@{
    Layout = null;
}

@if (Model.Any())
{
    <h2>Grades of @Model.First().Getter.FirstName @Model.First().Getter.LastName</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Score</th>
                <th>Setter</th>
                <th>Getter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grade in Model)
            {
                <tr>
                    <td>@grade.Score</td>
                    <td>@grade.Setter.FirstName @grade.Setter.LastName</td>
                    <td>@grade.Getter.FirstName @grade.Getter.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No grades available for this user.</p>
}
